.lfr-objects__model-builder-node {
	&-container {
		background: #fff;
		border: 0.125rem solid #d3d6e0;
		border-radius: 0.25rem;
		height: auto;

		&:hover {
			border: 0.125rem solid #b3cdff;
		}

		&:active {
			border: 0.125rem solid #0b5fff;
		}
	}

	&-selected {
		border: 0.125rem solid #0b5fff;
	}
}

.dropdown-menu {
	max-width: 14.5rem;
}
