.lfr__object-edit-relationship-side-panel {
	overflow: auto;
}

.lfr__edit-object-relationship-side-bar-open {
	animation: open-side-panel 0.5s;
}

.lfr__edit-object-relationship-side-bar-closed {
	animation: closed-side-panel 0.5s;
}
