.c-slideout-end {
	top: 9.9rem;
}

.lfr__object-vertical-bar {
	&-content {
		height: auto;
		overflow: auto;
	}

	&--closed {
		animation: close-vertical-bar 0.5s;
	}

	&--open {
		animation: open-vertical-bar 0.5s;

		box-shadow: 0 7.4px 11.4px -7.59px rgba(0, 0, 0, 0.14),
			0 24px 36px 3.45px rgba(0, 0, 0, 0.078),
			0 9.2px 48px 8.6px rgba(0, 0, 0, 0.06);

		.sidebar {
			height: auto;
		}
	}
}

@keyframes close-vertical-bar {
	from {
		right: 0;
	}
	to {
		right: -50%;
	}
}

@keyframes open-vertical-bar {
	from {
		right: -50%;
	}
	to {
		right: 0;
	}
}
