@import 'atlas-variables';

.lfr-objects__model-builder-left-sidebar {
	display: flex;
	flex-direction: column;
	padding: 1rem;

	.navbar-form,
	.container-fluid {
		padding: 0 !important;
	}
}

.lfr__objects-custom-vertical-bar--left-open {
	top: 8.063rem;
}
